input{
	beats{
	port => 5044	
	}
}
filter{
	csv{
	separator => ","
	columns => ["Job_Title","URL","Job Type","Company","City","State","Minimum Salary","Maximum Salary","Skills"]
	}
	mutate {convert => ["Minimum Salary","integer"]}
	mutate {convert => ["Maximum Salary","integer"]}
}
output{
	elasticsearch{
	hosts => "localhost"
	index => "final"
	document_type => "final"
	}
	stdout {}
}